body{
    background:lightblue;
    padding:0;
    margin:0;
    background-image: url(Images/sleep1.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

p, h1, h2, li { color: white; }

#overlay{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header{
    font-size:2.5em;
    text-align: center;
    border-style: solid;
    margin:0;
    padding-top: 1%;
    padding-bottom: 1%;
    background: black;
    color: white;
    border-color: black;
}

footer {
    color:white;
    text-align: center;
    background-color:black;
    position:relative;
    bottom:0;
}

footer p, footer h1, footer h2 { margin:0; padding:5px; }

footer img{ width: 10%; height: 10%; padding-bottom: 10px; }


#container{ display:flex; flex: 1; }

#menu{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    padding: 2%;
    gap: 25px;
    margin-top: 40px;
    margin-left: 40px;
    background-color: rgba(0,0,0, 0.4);
    z-index: 1;
    transform: translate(-107%, 0px);
    transition: 0.35s ease;
}

#menu.panelAnim{ transform: translate(0px, 0px); }

#menu button{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

#menu button#closeMenu{
    position: absolute;
    width: 15%;
    text-align: center;
    transform: translate(160px, 0px);
}

section.page{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-style: solid;
    width: 90%;
    min-height: 700px;
    max-height: 100%;
    margin: auto;
    margin-top: 40px;
    padding: 1%;
    background-color: rgba(0,0,0, 0.4);
    transform: translate(1800px, 0px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

section.page p{ font-size: 1.2em; }

.page.moveAnim{ transform: translate(0px, 0px); opacity: 1; }

section#startPage{ transform: translate(0px, 0px); opacity: 1; }

.page li{ font-size:1.5em; }

#tooltipcontainer div {
    display: none;
    position: absolute;
    text-align: center;
    border: solid;
    min-width: 50px;
    min-height: 150px;
    background-color: rgba(0,0,0, 0.9);
    transition: 0s ease-out;
    top: 0;
    left: 0;
    z-index: 1;
}

#tooltipcontainer p{ margin: 0px; padding: 5px; }

span{ color: aquamarine; text-decoration: underline; }

span:hover{ color: white; }

#minigame{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-style: solid;
    margin-top: 50px;
    background-color: rgba(0,0,0, 0.4);
    min-height: 500px;
    max-height: 110%;
    padding: 2%;
}

#minigame p{ font-size: 1.25em; }

div.game{
    position: relative;
    overflow: hidden;
    background-image: url(Images/FenceThing.png);
    background-repeat: no-repeat;
    background-size: 110%;
    border:solid;
    min-height: 400px;
    max-height: 100%;
    width: 1500px;
    max-width: 100%;
}

#tutorial{
    overflow: hidden;
    font-size:1.5em;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    min-height: 400px;
    max-height: 100%;
}
#tutorial button{ font-size:1em; width: 15%; height: 10%; }

#quiz{
    padding-top: 15%;
    font-size:1.5em;
    overflow: hidden;
    text-align: center;
    display: none;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#quiz button{ font-size:1em; width: 15%; height: 10%; }

.game img{ position: absolute; width: 10%; height: auto; }

/* Mobile Screen Size */
@media screen and (max-width: 800px) {
    footer img, footer h1{ display: none;}
    #menu{ transform: translate(-112%, 0px); }
    #menu button#closeMenu{ transform: translate(140px, 0px); }
    #minigame p{ font-size: 1em; }
    div.game{ background-size: 210%; }
    #tutorial{ font-size:1em; min-height: 400px; max-height: 100%;}
    #tutorial button{ width: 30%; height: 20%; }
    #quiz{ padding: 0; font-size:1em; min-height: 400px; max-height: 100%; }
    #quiz button{ width: 20%; height: 20%; }
    .game img{ width: 20%; }
}